<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/app.css"/>
</head>
<body>
<div th:fragment="users-menu">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrganizations" aria-expanded="false" aria-controls="collapseUtilities">
            <span th:text="#{template.userOrganizations}">Your Organizations</span>
        </a>
        <div id="collapseOrganizations" class="collapse" aria-labelledby="headingOrganizations" data-parent="#accordionSidebar" style="">
            <div class="py-2 collapse-inner rounded">
                <a th:attr="data-sidebar-menu-item='organizations'" class="collapse-item" th:href="${@url.allOrganizations()}" onclick="app.adminMode(false)" th:text="#{template.allOrganizations}">Show All</a>
                <a th:attr="data-sidebar-menu-item=${'organization-settings-' + org.key}" th:each="org : ${@user.organizations()}" class="collapse-item" th:href="${@url.organizationSettings(org.key)}" onclick="app.adminMode(false)" th:text="${org.value}">Default</a>
            </div>
        </div>
    </li>

    <th:block th:if="${organizationEntity != null}">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrg" aria-expanded="false" aria-controls="collapseOrg">
                <span th:text="${organizationEntity.name}"></span>
            </a>
            <div id="collapseOrg" class="collapse" aria-labelledby="headingOrg" data-parent="#accordionSidebar" style="">
                <div class="py-2 collapse-inner rounded">
                    <a th:attr="data-sidebar-menu-item='dashboard'" class="collapse-item" th:href="${@url.organizationDashboard(organizationEntity.id)}" onclick="app.adminMode(false)" th:text="#{template.dashboard}">Dashboard</a>
                    <a th:attr="data-sidebar-menu-item=${'organization-settings-' + organizationEntity.id}" class="collapse-item"  th:href="${@url.organizationSettings(organizationEntity.id)}" onclick="app.adminMode(false)" th:text="#{template.settings}">Settings</a>
                    <a th:attr="data-sidebar-menu-item=${'organization-settings-integrations-' + organizationEntity.id}" th:if="${@auth.hasOrgPrivilege('manageOrgData',organizationEntity.id)}" class="collapse-item" th:href="${@url.moduleSettings('integration', null, organizationEntity.id)}" onclick="app.adminMode(false)" th:text="#{integration.integrations}">Integrations</a>
                    <a th:attr="data-sidebar-menu-item=${'organization-settings-history-' + organizationEntity.id}" th:if="${@auth.hasOrgPrivilege('manageOrgData',organizationEntity.id)}" class="collapse-item" th:href="${@url.organizationHistory(organizationEntity.id)}" onclick="app.adminMode(false)" th:text="#{template.audit}">Audit</a>
                </div>
            </div>
        </li>

    </th:block>

    <th:block th:replace="submenus::admin-menu"/>

</div>

</body>
</html>