<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" th:href="${@environment.getProperty('application.icon')}">

  <title>Forgot Password</title>

  <!-- Custom head scripts -->
  <th:block th:replace="~{frontend-resource/head-customization::scripts}"></th:block>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/vendor/sb-admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container-fluid">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Haven't verified your account yet?</h1>
                    <p class="mb-4">
                      <th:block th:if="${verification != null && verification == false}">
                        Verification email not sent. Wrong email.
                      </th:block>
                      <th:block th:if="${verification != null && verification == true}">
                        Verification email sent. Check your Inbox.
                      </th:block>
                      <th:block th:if="${verification == null}">
                        We get it, stuff happens. Just enter your email address below and we'll re-send you a link to verify your account!
                      </th:block>
                    </p>
                  </div>
                  <form class="user" role="form" th:action="@{/resend/verification}" method="post">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email" name="email" th:value="${email}" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <button class="btn btn-primary btn-user btn-block" >
                      Re-send Verification Link
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" th:href="@{/register}">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/vendor/sb-admin/js/sb-admin-2.min.js"></script>

</body>

</html>
