<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">


    <div layout:fragment="content" th:attr="data-menu-item='logs'">
        <nav th:replace="~{navigation-fragments::log-monitoring-nav-tabs('audit')}"></nav>
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            </div>
            <div class="card-body pt-0">
                <nav th:replace="~{tables::search('audit', ${auditPage})}"></nav>
                <div class="table-responsive table-no-ellipsis">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th th:replace="~{tables::asort('id', #{template.id}, 'audit', ${auditPage})}"></th>
                                <th th:replace="~{tables::asort('createdOn', 'Timestamp', 'audit', ${auditPage})}">Timestamp</th>
                                <th>Support ID</th>
                                <th th:replace="~{tables::asort('ipAddress', 'IP Address', 'audit', ${auditPage})}">IP Address</th>
                                <th>User ID</th>
                                <th>Change</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${auditPage.content}">
                                <td class="text-sm" th:text="${a.id}">1</td>
                                <td class="text-sm" th:text="${#temporals.format(a.createdOn, 'yyyy-MM-dd HH:mm:ss')}">Mark</td>
                                <td class="text-sm" th:with="requestId=${#strings.substringAfter(a.requestId, '-')}"><a th:if="${requestId != null}" th:href="${@url.allAudit(requestId)}" th:text="${requestId}"></a> </td>
                                <td class="text-sm" th:text="${a.ipAddress}">Otto</td>
                                <td class="text-sm" th:text="${a.modifiedBy}">Otto</td>
                                <td class="text-sm" th:utext="${a.change}">Aldo</td>
                                <td>
                                    <div class="table-row-btns">
                                        <th:block th:if="${a.content != null}">
                                            <a class="" th:href="${@url.downloadAuditContent(a.id)}" download="content.html" data-toggle="tooltip" data-placement="top" th:title="#{template.download}">
                                                <i class="fas fa-download text-primary"></i>
                                            </a>
                                        </th:block>
                                        <th:block th:unless="${a.content != null}">
                                            <button class="bg-transparent p-0 border-0" disabled><i class="fas fa-download text-gray-500"></i></button>
                                        </th:block>
                                        <th:block th:if="${a.entityKey != null}">
                                            <a class="" th:href="${@url.view(a.organizationId, #strings.toLowerCase(a.entityKey), a.entityId)}" data-toggle="tooltip" data-placement="top" th:title="#{template.view}">
                                                <i class="fas fa-eye text-primary"></i>
                                            </a>
                                        </th:block>
                                        <th:block th:unless="${a.entityKey != null}">
                                            <button class="bg-transparent p-0 border-0" disabled><i class="fas fa-eye text-gray-500"></i></button>
                                        </th:block>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav th:replace="~{tables::tablenav('audit', ${auditPage})}"></nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>