<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/app.css"/>
</head>
<body>

<div th:fragment="file(filePage, title)" class="card shadow mb-4">
    <!--PRINTJS-->
    <link href="/vendor/printjs/print.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/vendor/printjs/print.min.js"></script>
    <div class="card-header py-3 d-flex flex-row align-items-center ">
    </div>

    <div class="card-body pt-0">
        <nav th:replace="tables::search('file', ${filePage})"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'file', ${filePage})}"></th>
                    <th th:replace="~{tables::asort('publicFile', #{template.public}, 'file', ${filePage})}"></th>
                    <th th:replace="~{tables::asort('filename', #{template.file}, 'file', ${filePage})}"></th>
                    <th th:replace="~{tables::asort('contentType', #{template.contentType}, 'file', ${filePage})}"></th>
                    <th th:replace="~{tables::asort('size', #{template.size}, 'file', ${filePage})}"></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${filePage.content}">
                    <td><span th:text="${a.id}">1</span></td>
                    <td>
                        <th:block th:if="${a.publicFile}">
                            <i class="fas fa-check fa-sm fa-fw text-primary-light" data-toggle="tooltip"
                               data-placement="top" th:title="#{template.public}"></i>
                        </th:block>
                    </td>
                    <td><span th:text="${a.filename}">Coca-Cola</span></td>
                    <td><span th:text="${a.contentType}">Coca-Cola</span></td>
                    <td><span th:text="${a.size}">Coca-Cola</span></td>
                    <td><img th:if="${a.isImage()}" style="width:100px" th:src="${a.toFileDto().downloadUrl}"/></td>
                    <td>
                        <div class="table-row-btns">
                            <th:block th:replace="~{forms::single-icon-post-form-with-confirm(${@url.remove(a.organizationId, 'file', a.id)},
                             'fas fa-trash text-danger', #{template.remove}, 'Are you sure you want to remove file '+ ${a.id} + '?')}"/>
                            <th:block th:if="${a.isImage()}">
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                       data-toggle-second="tooltip" data-placement="top" th:title="#{template.resize}">
                                        <i class="fas fa-maximize text-primary"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <th:block th:replace="~{forms::single-dropdown-item-post-with-confirm-callback(${@url.operation(a.organizationId, 'file', a.id, '/rescale?w=1024')},
                                         '1024', #{template.confirmationPrompt}, app.showMessageAndReload)}"/>
                                        <th:block th:replace="~{forms::single-dropdown-item-post-with-confirm-callback(${@url.operation(a.organizationId, 'file', a.id, '/rescale?w=400')},
                                         '400', #{template.confirmationPrompt}, app.showMessageAndReload)}"/>

                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${a.isImage()}">
                                <button class="bg-transparent p-0 border-0" disabled><i class="fas fa-maximize text-gray-500"></i></button>
                            </th:block>
                            <a class="" th:href="'javascript:app.copyToClipboard(\'' + ${@url.getAbsoluteFileURL(a)} + '\', \'Copied\')'"
                               data-toggle="tooltip" data-placement="top" th:title="#{template.copyAbsoluteURLPath}">
                                <i class="fas fa-link text-primary"></i>
                            </a>
                            <a class="" th:href="${@url.form(a.organizationId, 'file', a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
                            <th:block th:if="${a.getContentType() != null and #strings.contains(a.getContentType(),'image/')}">
                                <a class="" href='javascript:;' data-toggle="tooltip" data-placement="top" title="Print" th:onclick="printJS([[${@url.getAbsoluteFileURL(a)}]], 'image')">
                                    <i class="fas fa-print text-primary"></i>
                                </a>
                            </th:block>
                            <th:block th:if="${a.getContentType() != null and a.getContentType() == 'application/pdf'}">
                                <a class="" href='javascript:;' data-toggle="tooltip" data-placement="top" title="Print" th:onclick="printJS([[${@url.getAbsoluteFileURL(a)}]])">
                                    <i class="fas fa-print text-primary"></i>
                                </a>
                            </th:block>
                            <th:block th:unless="${a.getContentType() != null and (#strings.contains(a.getContentType(),'image/') || a.getContentType() == 'application/pdf')}">
                                <button class="bg-transparent p-0 border-0" disabled><i class="fas fa-print text-gray-500"></i></button>
                            </th:block>
                            <th:block th:if="${a.getContentType() != null and (#strings.contains(a.getContentType(),'image/') || a.getContentType() == 'application/pdf')}">
                                <a class="" th:href="${@url.getAbsoluteFileURL(a)}" target="_blank" data-toggle="tooltip" data-placement="top" th:title="#{template.view}">
                                    <i class="fas fa-eye text-primary"></i>
                                </a>
                            </th:block>
                            <th:block th:unless="${a.getContentType() != null and (#strings.contains(a.getContentType(),'image/') || a.getContentType() == 'application/pdf')}">
                                <button class="bg-transparent p-0 border-0" disabled><i class="fas fa-eye text-gray-500"></i></button>
                            </th:block>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('file', ${filePage})}"></nav>
</div>

</body>
</html>