<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">
  <div layout:fragment="content" th:attr="data-menu-item=${menuItem}">
    <th:block th:if="${genericViewNavigationFragment != null}">
      <nav th:replace="~{__${genericViewNavigationFragment}__}"></nav>
    </th:block>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center ">
        <h6 class="m-0 font-weight-bold" th:if="${navigationFragment == null}" th:text="${@messages.getFieldLabel(frontendMappingDefinition.formLabel, frontendMappingDefinition.name)}"></h6>
        <div class="card-header-buttons">
          <a class="btn-primary btn btn-sm ml-4" href="new/settings" th:text="#{template.new}">New</a>
        </div>
      </div>

      <div class="card-body">
        <nav th:replace="~{tables::search('obj', ${organizationRelatedEntityPage})}"></nav>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th th:replace="~{tables::asort('id', #{template.id}, 'obj', ${organizationRelatedEntityPage})}"></th>
                <th:block th:each="field,iter: ${genericTableViewHeaders}">
                  <th th:text="${@messages.getFieldLabel(field.labelKey, field.getPlainName())}"></th>
                </th:block>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a,it : ${organizationRelatedEntityPage.content}">
              <td><span th:text="${a.id}">1</span></td>
              <td th:each="tableValue: ${genericTableViewList.get(it.index)}"
                  th:text="(${T(org.apache.commons.lang3.math.NumberUtils).isCreatable(tableValue)} and ${#strings.contains(tableValue,'.')}) ? ${#numbers.formatDecimal(tableValue,3,'COMMA',2,'POINT')} : ${tableValue}"
                  th:class="${T(org.apache.commons.validator.GenericValidator).isDate(tableValue, 'MM/dd/yy', false)}? 'text-nowrap'"></td>
              <td>
                <div class="table-row-btns">
                  <th:block th:replace="~{forms::single-icon-post-form-with-confirm(
                    ${'./' + a.id + '/remove'},'fas fa-trash text-danger',#{template.remove}, #{template.confirmationPrompt})}"/>
                  <a class="" th:href="${'./' + a.id + '/settings'}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                    <i class="fas fa-pen-to-square text-primary"></i>
                  </a>
                  <a class="" th:href="${'./' + a.id + '/view'}" data-toggle="tooltip" data-placement="top" th:title="#{template.view}">
                    <i class="fas fa-eye text-primary"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav th:replace="~{tables::tablenav('obj', ${organizationRelatedEntityPage})}"></nav>
    </div>
  </div>
</div>
</body>
</html>