<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">


    <div layout:fragment="content" th:attr="data-menu-item=${menuItem}">
        <th:block th:if="${genericViewNavigationFragment != null}">
            <nav th:replace="~{__${genericViewNavigationFragment}__}"></nav>
        </th:block>
        <form th:replace="~{generic-settings-entity-form::generic-settings-form-new}" />

    </div>

</div>
</body>
</html>