<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">



    <div layout:fragment="content" th:attr="data-menu-item='logs'">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row justify-content-between">
                <h6 class="m-0 font-weight-bold">Logs</h6>
                <div class="dropdown no-arrow dropdown-sm">
                    <a class="dropdown-toggle" href="#" role="button" id="logMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="logMenuLink">
                        <a class="dropdown-item" th:href="${@url.downloadLogs()}" download="logs.txt">Download</a>
                        <a class="dropdown-item" th:href="${@url.logsSettings()}">Settings</a>
                    </div>
                </div>
                <div class="card-header-buttons">
                    <a class="btn-primary btn btn-sm" th:href="${@url.downloadLogs()}" download="logs.txt">Download</a>
                    <a class="btn-primary btn btn-sm" th:href="${@url.logsSettings()}">Settings</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th th:text="#{template.key}">Key</th>
                                <th th:text="#{template.logEntry}">Log Entry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${logsEntryList}">
                                <td class="text-sm align-text-top"><a th:href="${@url.allAudit(a.key)}" th:text="${a.key}">Data</a></td>
                                <td class="text-sm" th:utext="${#strings.replace(#strings.escapeXml(a.value),'&#10;','&lt;br&gt;')}">Log entry</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
</body>
</html>