<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<th:block th:fragment="admin-menu" th:if="${@auth.canSeeAdminPanel()
        and (!#strings.contains(#ctx.springRequestContext.requestUri,'organization')
        or #strings.contains(#ctx.springRequestContext.requestUri,'organization/all'))}" >
    <li class="nav-item">
        <a class="nav-link" th:attr="data-sidebar-menu-item='admin-dashboard'" th:if="${@auth.hasGlobalPrivilege('canReadBackend')}" th:href="${@url.adminDashboard()}">
            <span th:text="#{template.dashboard}">Dashboard</span>
        </a>
        <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'development')}">
            <a class="nav-link" th:attr="data-sidebar-menu-item='development'" th:href="${@url.allForm()}">
                <span th:text="#{template.development}">Development Kit</span>
            </a>
        </th:block>
        <a class="nav-link" th:attr="data-sidebar-menu-item='configuration'" th:href="${@url.allFiles()}">
            <span th:text="#{template.configuration}">X</span>
        </a>
        <a class="nav-link" th:attr="data-sidebar-menu-item='security'" th:href="${@url.users()}">
            <span th:text="#{template.security}">Security</span>
        </a>
        <a class="nav-link" th:attr="data-sidebar-menu-item='automation'" th:href="${@url.allSchedulers()}">
            <span th:text="#{template.automation}">Automation</span>
        </a>
        <a class="nav-link" th:attr="data-sidebar-menu-item='logs'" th:href="${@url.allAudit()}">
            <span th:text="#{template.logMonitoring}">Log Monitoring</span>
        </a>
    </li>
</th:block>

<nav th:fragment="module-menu(moduleList, userId, orgId)" class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarModules"
            aria-controls="navbarModules" aria-expanded="false" label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarModules">
        <ul class="navbar-nav">
            <li th:each="module: ${moduleList}" class="nav-item">
                <a class="nav-link" th:href="${@url.moduleSettings(module.moduleName, userId, orgId)}" href="#"
                   th:text="${#strings.capitalize(module.moduleName)}">ModuleName</a>
            </li>
        </ul>
    </div>
</nav>
</body>