<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/app.css"/>
</head>
<body>

<div th:fragment="search(qualifier, page)">
    <form method="get" class="form-inline search-form d-block">
        <input type="hidden" th:name="${qualifier + '_page'}"
               th:value="${page.number}"/>
        <input type="hidden" th:name="${qualifier + '_size'}"
               th:value="${page.size}"/>
        <input type="hidden" th:name="${qualifier + '_sort'}"
               th:value="${param.get(qualifier + '_sort')}"/>
        <th:block th:replace="~{forms::remainingParametersHiddenInputs}"/>
        <div class="input-group mt-1 mb-3 float-right">
            <input type="text" class="form-control simple-control form-neutral" th:name="${qualifier + '_search'}"
                       th:value="${param.get(qualifier + '_search')}" th:placeholder="#{search.placeholder}"/>
            <div class="input-group-append">
                <button type="submit" class="input-group-text form-neutral"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>

<nav th:fragment="tablenav(qualifier, page)" th:if="${page.hasNext() || page.hasPrevious()}">
    <nav th:replace="~{tables::tablenav-base(${qualifier}, ${page}, '', '')}"></nav>
</nav>

<nav th:fragment="tablenav-with-query-param(qualifier, page, paramName, paramValue)" th:if="${page.hasNext() || page.hasPrevious()}">
    <nav th:replace="~{tables::tablenav-base(${qualifier}, ${page}, ${paramName}, ${paramValue})}"></nav>
</nav>

<nav th:fragment="tablenav-base(qualifier, page, paramName, paramValue)" th:if="${page.hasNext() || page.hasPrevious()}">
    <div th:with="query=${(paramName != '' ? '&' + paramName + '=' + paramValue : '') + @url.filterParams(qualifier, objFilters)}"
         class="row justify-content-center pagination-wrapper mt-3">
        <ul class="pagination justify-content-center">
            <li th:if="${!page.isFirst()}" class="page-item">
                <a class="page-link" href="#"
                   th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number - 1}')}__ + ${query} + ${remainingParameters}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li th:if="${page.isLast() AND page.number > 1}" class="page-item">
                <a class="page-link"
                   th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number - 2}')}__ + ${query} + ${remainingParameters}"
                   th:text="${page.number-1}">1</a>
            </li>

            <li th:if="${page.hasPrevious()}" class="page-item">
                <a class="page-link"
                   th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number - 1}')}__ + ${query} + ${remainingParameters}"
                   th:text="${page.number}">1</a>
            </li>

            <li class="page-item active"><a class="page-link" href="#" th:text="${page.number + 1}">3</a></li>

            <li th:if="${page.hasNext() && page.getTotalPages() - 1 - page.number > 0}" class="page-item"><a
                    class="page-link" href="#"
                    th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 1}')}__ + ${query} + ${remainingParameters}"
                    th:text="${page.number + 2}">4</a></li>

            <li th:if="${page.hasNext() && page.getTotalPages() - 2 - page.number > 0}" class="page-item"><a
                    class="page-link" href="#"
                    th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 2}')}__ + ${query} + ${remainingParameters}"
                    th:text="${page.number + 3}">5</a></li>

            <li th:if="${page.hasNext() && page.getTotalPages() - 3 - page.number > 0}" class="page-item"><a
                    class="page-link" href="#"
                    th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 3}')}__ + ${query} + ${remainingParameters}"
                    th:text="${page.number + 4}">6</a></li>

            <li th:if="${page.hasNext() && page.getTotalPages() - 4 - page.number > 0}" class="page-item d-none d-sm-block"><a
                    class="page-link" href="#"
                    th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 4}')}__ + ${query}"
                    th:text="${page.number + 5}">7</a></li>

            <li th:if="${page.hasNext() && page.getTotalPages() - 5 - page.number > 0}" class="page-item d-none d-sm-block"><a
                    class="page-link" href="#"
                    th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 5}')}__ + ${query} + ${remainingParameters}"
                    th:text="${page.number + 6}">8</a></li>
            <li th:if="${!page.isLast()}" class="page-item">
                <a class="page-link" href="#"
                   th:href="__${ @url.createThymeleafExpressionForPagination(qualifier, '${page.number + 1}')}__ + ${query} + ${remainingParameters}"
                   aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
        <th:block th:if="${page.getTotalPages() > 3}">
            <div class=" col-6 col-lg-2">
                <form method="get" th:attr="entityKey=${qualifier}" class="form-inline search-form d-block">
                    <div class="input-group float-left">
                        <input type="hidden" th:name="${qualifier + '_search'}"
                               th:value="${searchTerm}"/>
                        <input type="hidden" th:name="${qualifier + '_size'}"
                               th:value="${page.size}"/>
                        <input type="hidden" th:if="${page.sort.toString() != 'UNSORTED'}" th:name="${qualifier + '_sort'}"
                               th:value="${#strings.replace(page.sort, ': ', ',')}"/>
                        <input type="hidden" th:name="${qualifier + '_page'}"
                               th:value="${page.number}"/>
                        <th:block th:replace="~{forms::remainingParametersHiddenInputs}"/>
                        <div class="input-group float-right">
                            <input id="goto" type="text" class="form-control simple-control bg-gray-200 border-0"
                                   th:placeholder="${'1-' + (page.getTotalPages())}" th:min="1" th:max="${page.getTotalPages()}"/>
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text  bg-gray-200 border-0" th:text="#{pagination.goto.page}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </th:block>
    </div>
</nav>

<th th:fragment="asort(property, label, qualifier, page)" th:classappend="${property}">
    <a th:href="${ @url.sortParams(property, qualifier, page, searchTerm, objFilters, remainingParameters) }"
       th:id="|sort_${property}|">
        <th:block th:text="${label}"></th:block>
        <i th:if="${@url.isOrder(page, property)}" class="fa"
           th:classappend="${@url.isAsc(page, property)} ? 'fa-sort-up' : 'fa-sort-down'" aria-hidden="true">
        </i>
    </a>
</th>

<div th:fragment="users(usersPage, organizationEntity, title, modulesLinkOn, organizationView)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" th:if="${organizationView}" th:text="${title}">Users</h6>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('user', ${userPage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover"
                   th:with="isOrgAdmin = ${@auth.isOrgAdmin(organizationEntity)}, canSpoof = ${@auth.canImpersonate()},isGlobalAdmin=${@auth.hasGlobalPrivilege('canAccessGlobalSettings')}">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'user', ${userPage})}"></th>
                    <th th:replace="~{tables::asort('name', #{template.name}, 'user', ${userPage})}"></th>
                    <th th:text="#{template.role}">Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${userPage.content}">
                    <td><th:block th:text="${a.id}"></th:block></td>
                    <td>
                        <div class="w-15-ch">
                            <span th:text="${#strings.isEmpty(a.name) ? a.email : a.name}">John Smith</span>
                        </div>
                    </td>
                    <td class="p-0">
                        <th:block th:with="rolesToDisplay=${organizationView ? a.projectRolesVisibleForOrg(organizationEntityId) : a.projectRolesVisibleTo(@auth.getLoggedOrganizationUser())}">
                            <div th:each="ur : ${rolesToDisplay}" class="d-flex align-items-center gap-10">
                                <a class="w-10-ch d-inline-flex" th:if="${!organizationView}" th:href="${@url.organizationSettings(ur.organizationId)}"
                                       th:text="${ur.organizationName}"></a>
                                <th:block th:if="${isGlobalAdmin || (isOrgAdmin && !@auth.isItYou(a.id))}">
                                    <block th:replace="~{forms::single-dropdown-post-form-class('userRole_'+${ur.id}, 'userRoleName', ${ur.roleName} , '__datalist_organizationRoles', ${@url.organizationModifyMemberRole(ur.organizationId, ur.userId)}, 'app.refreshView', 'd-inline simple-control w-auto mt-1 mb-1')}" />
                                </th:block>
                                <th:block th:unless="${isGlobalAdmin || (isOrgAdmin && !@auth.isItYou(a.id))}">
                                    <div class="badge badge-light font-weight-normal" th:text="${ @messages.get('label.role.' + ur.roleName)}"/>
                                </th:block>
                               <th:block th:if="${@auth.hasGlobalPrivilege('manageUserRoles')}">
                                   <form th:replace="~{forms::single-icon-post-form-with-confirm-callback(
                                   '/html/organization/' + ${ur.organizationId} + '/remove?userRoleId=' + ${ur.id},
                                   'fas fa-trash text-danger',
                                   #{template.removeRole},
                                    #{template.confirmationPrompt}, 'app.removeThisTableRow')}" />
                               </th:block>
                            </div>
                        </th:block>
                    </td>
                    <td th:if="${modulesLinkOn}">
                        <a th:href="${@url.allUserOrgModules(organizationEntity.id, a.id)}"
                           class="btn btn-primary btn-sm">Modules
                        </a>
                    </td>
                    <td>
                        <div class="table-row-btns">
                            <th:block th:if="${canSpoof}">
                                <a th:if="${@user.getUserId() != a.id}" th:href="${@url.spoof(a.id)}"
                                   data-toggle="tooltip" data-placement="top" th:title="#{template.spoof}">
                                    <i class="fas fa-right-to-bracket text-primary"></i>
                                </a>
                            </th:block>
                            <th:block th:if="${@auth.hasGlobalPrivilege('canReadSupportData')}">
                                <a class="" th:href="${@url.allAudit('modifiedby:' + a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.actions}">
                                    <i class="fas fa-arrow-pointer text-primary"></i>
                                </a>
                                <a class="" th:href="${@url.allAudit('user:' + a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.audit}">
                                    <i class="fas fa-clock-rotate-left text-primary"></i>
                                </a>
                                <a class="" th:href="${@url.userProfile(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                    <i class="fas fa-pen-to-square text-primary"></i>
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('user', ${userPage})}"></nav>
</div>

<div th:fragment="roles(rolePage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row">
        <div class="card-header-buttons">
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.newRole()}" th:text="#{template.new}">New</a>
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('role', ${rolePage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'role', ${rolePage})}"></th>
                    <th th:replace="~{tables::asort('name', 'Name', 'role', ${rolePage})}">Message</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${rolePage.content}">
                    <td><span th:text="${a.id}">1</span></td>
                    <td><span th:text="${a.name}">Coca-Cola</span></td>
                    <td><span th:text="${a.getType()}">Coca-Cola</span></td>
                    <td>
                        <div class="table-row-btns">
                            <a class="" th:href="${@url.roleSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
                            <form th:if="${a.removable && @auth.hasGlobalPrivilege('canManageBackend')}" method="POST" th:action="${a.id} + '/remove'">
                                <button th:replace="~{forms::icon-submit-and-callback-inline(
                                    'fas fa-trash text-danger',
                                    #{template.remove},
                                    'app.showMessage(\'Removing role ' + ${a.name} + '.\')')}"/>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('role', ${rolePage})}"></nav>
</div>

<div th:fragment="privileges(privilegePage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row">
        <div class="card-header-buttons">
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.newPrivilege()}" th:text="#{template.new}">New</a>
        </div>
    </div>

   <div class="card-body pt-0">
        <nav th:replace="~{tables::search('privilege', ${privilegePage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'privilege', ${privilegePage})}"></th>
                    <th th:replace="~{tables::asort('name', 'Name', 'privilege', ${privilegePage})}">Message</th>
                    <th>Label</th>
                    <th>Category</th>
                    <th>Group</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${privilegePage.content}" th:class="${!a.removable}? 'font-italic'">
                    <td><span th:text="${a.id}">1</span></td>
                    <td><span th:text="${a.name()}">Coca-Cola</span></td>
                    <td><span th:text="${a.getLabel()}">Coca-Cola</span></td>
                    <td><span th:text="${a.getCategory()}">Coca-Cola</span></td>
                    <td><span th:text="${a.getGroup() != null ? a.getGroup().getLabel() : '' }">Coca-Cola</span></td>
                    <td>
                        <div class="table-row-btns">
                            <a th:if="${a.removable && @auth.hasGlobalPrivilege('canManageBackend')}" 
                                class="" th:href="${@url.privilegeSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
                            <form th:if="${a.removable && @auth.hasGlobalPrivilege('canManageBackend')}" method="POST" th:action="${a.id} + '/remove'">
                                <button th:replace="~{forms::icon-submit-and-callback-inline(
                                    'fas fa-trash text-danger',
                                    #{template.remove},
                                    'app.showMessage(\'Removing privilege ' + ${a.name} + '.\')')}"/>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('privilege', ${privilegePage})}"></nav>
</div>

<div th:fragment="organizations(organizationPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row">
        <div class="card-header-buttons">
            <a class="btn-primary btn btn-sm" th:if="${@auth.hasGlobalPrivilege('manageOrgData')}" th:href="${@url.newOrganization()}" th:text="#{template.new}">New</a>
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('organization', ${organizationPage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'organization', ${organizationPage})}"></th>
                    <th th:replace="~{tables::asort('name', 'Name', 'organization', ${organizationPage})}">Message</th>
                    <th th:replace="~{tables::asort('createdOn', 'Created on', 'organization', ${organizationPage})}"></th>
                    <th th:if="${@auth.hasGlobalPrivilege('canReadSupportData')}"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${organizationPage.content}">
                    <td><span th:text="${a.referenceString}">1</span></td>
                    <td><span th:text="${a.name}">Coca-Cola</span></td>
                    <td th:text="${@dates.formatDateTimeLocaleEN(a.createdOn)}"></td>
                    <td>
                        <div class="table-row-btns">
                            <th:block th:if="${@auth.hasGlobalPrivilege('manageOrgData')}">
                                <form th:replace="forms::single-icon-post-form-with-confirm-prompt-callback(
                                    ${@url.removeOrganization(a.id)},
                                    'fas fa-trash text-danger',
                                    #{template.remove},
                                    #{organization.remove} + ' ' + ${a.name},
                                    ${a.name},
                                    '() => {app.showMessage(\'' + #{organization.remove.success} + '\');}',
                                    '() => app.showMessage(\'' + #{organization.remove.error} + '\') ')" />
                            </th:block>
                            <th:block th:if="${@auth.hasGlobalPrivilege('canReadSupportData')}">
                                <a class="" th:href="${@url.allAudit('organization:' + a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.audit}">
                                    <i class="fas fa-clock-rotate-left text-primary"></i>
                                </a>
                            </th:block>
                            <a class="" th:href="${@url.exportAllYamlResourcesForOrg(a.id)}" th:download="${@environment.getProperty('components.export.zip.filename')}"
                               data-toggle="tooltip" data-placement="top" th:title="#{template.exportToYaml}">
                                <i class="fas fa-download text-primary"></i>
                            </a>
                            <a class="" th:href="${@url.organizationSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('organization', ${organizationPage})}"></nav>
</div>

<div th:fragment="modules(modulePage, title, userId, orgId)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" th:text="${title}">Modules</h6>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('module', ${modulePage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', '#', 'module', ${modulePage})}"></th>
                    <th th:replace="~{tables::asort('moduleName', 'Name', 'module', ${modulePage})"}>Message</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${modulePage.content}">
                    <td><a th:href="${@url.moduleSettings(a.moduleName, userId, orgId)}" th:text="${a.id}">1</a>
                    </td>
                    <td><a th:href="${@url.moduleSettings(a.moduleName, userId, orgId)}"
                           th:text="${a.moduleName}">Coca-Cola</a></td>
                    <td><a th:href="${@url.moduleSettings(a.moduleName, userId, orgId)}"
                           th:text="${a.getType()}">bottle</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('module', ${modulePage})}"></nav>
</div>

<div th:fragment="frontend-resource(organizationRelatedEntityPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row justify-content-between">
        <div class="dropdown no-arrow dropdown-sm">
            <a class="dropdown-toggle" href="#" role="button" id="frontendResourceMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="frontendResourceMenuLink">
                <a class="dropdown-item" th:href="${@url.newFrontendResourceEntry()}" th:text="#{template.new}">New Frontend Resource Entry</a>
                <a class="dropdown-item" th:href="${@url.yamlAllFrontendResources()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
                <a class="dropdown-item">
                    <th:block th:replace="~{forms::single-button-post-form-with-confirm-callback-class(
                        ${@url.publishAllFrontendResource()},
                        #{frontendResource.publishAll},
                        #{template.confirmationPrompt},
                        'a => app.showMessage(\'Published All.\')',
                         'btn-link btn-simple p-0')}" />
                </a>
                <a class="dropdown-item">
                    <th:block th:replace="~{forms::single-button-post-form-with-confirm-callback-class(
                    ${@url.clearAllFrontendResource()},
                    #{frontendResource.clearAll},
                    #{template.confirmationPrompt},
                    'a => app.showMessage(\'Cleared All.\')',
                     'btn-link btn-simple p-0')}" />
                </a>
            </div>
        </div>
        <div class="card-header-buttons">
            <a class="btn-primary btn btn-sm" th:href="${@url.newFrontendResourceEntry()}" th:text="#{template.new}">New Frontend Resource Entry</a>
            <a class="btn-primary btn btn-sm" th:href="${@url.yamlAllFrontendResources()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
            <a th:replace="~{forms::single-button-post-form-with-confirm-callback(${@url.publishAllFrontendResource()}, #{frontendResource.publishAll}, #{template.confirmationPrompt}, 'a => app.showMessage(\'Published All.\')' )}" />
            <a th:replace="~{forms::single-button-post-form-with-confirm-callback(${@url.clearAllFrontendResource()}, #{frontendResource.clearAll}, #{template.confirmationPrompt}, 'a => app.showMessage(\'Cleared All.\')' )}" />
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="tables::search('frontendresource', ${organizationRelatedEntityPage})"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'frontendresource', ${organizationRelatedEntityPage})}"></th>
                    <th th:replace="~{tables::asort('name', 'Name', 'frontendresource', ${organizationRelatedEntityPage})}">Name</th>
                    <th th:replace="~{tables::asort('type', 'Type', 'frontendresource', ${organizationRelatedEntityPage})}">Type</th>
                    <th th:replace="~{tables::asort('accessLevel', 'Access Level', 'frontendresource', ${organizationRelatedEntityPage})}">Access Level</th>
                    <th th:replace="~{tables::asort('organizationId', 'Organization ID', 'frontendresource', ${organizationRelatedEntityPage})}">Organization ID</th>
                    <th>Required Privilege</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${organizationRelatedEntityPage.content}"
                    th:with="draftHashSuffix=${a.draftHash},
                     contentHashSuffix=${a.contentHash},
                     resourceHashSuffix=${@frontendResource.resourceHash(a)}">
                    <td><span th:text="${a.id}"></span></td>
                    <td><span th:text="${a.name}"></span></td>
                    <td><span th:text="${a.type}"></span></td>
                    <td><span th:text="${a.accessLevel}"></span></td>
                    <td><a th:if="${a.organizationId != null}" th:href="${@url.organizationSettings(a.organizationId)}" th:text="${a.organizationId}"></a></td>
                    <td><span th:text="${a.requiredPrivilege}"></span></td>
                    <td class="align-left">
                        <th:block th:if="${@frontendResource.resourceExists(a)}">
                            <a th:href="${@url.getFrontendResourcePreviewUrl(a, false, true)}" class="version-hash badge badge-light" th:text="#{template.resource} + ' ' + ${resourceHashSuffix}"
                                  data-toggle="tooltip" data-placement="top" th:title="${@frontendResource.getResourceURL(a)}"></a>
                        </th:block>
                    </td>
                    <td class="align-left">
                        <th:block th:if="${a.draft}">
                            <a th:href="${@url.getFrontendResourcePreviewUrl(a, true, false)}"
                               class="version-hash badge badge-light" th:text="#{template.draft} + ' ' + ${draftHashSuffix}"></a>
                        </th:block>
                    </td>
                    <td class="align-left">
                        <th:block th:if="${a.contentExists}">
                            <a th:href="${@url.getFrontendResourcePreviewUrl(a, false, false)}"
                               class="version-hash badge badge-light" th:text="#{template.live} + ' ' + ${contentHashSuffix}"></a>
                        </th:block>
                    </td>
                    <td>
                        <div class="table-row-btns">
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkRemove"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   data-toggle-second="tooltip" data-placement="top" th:title="#{template.edit}">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <th:block th:unless="${a.name == '' || !a.contentExists}">
                                        <form th:replace="~{forms::single-link-post-form-with-confirm-callback-with-class(
                                           ${@url.deleteFrontendResource(a.id)},
                                           #{template.cms.remove.all},
                                           #{template.confirmationPrompt},
                                           'a => app.showMessageAndReload(\'Frontend Resource entry is deleted.\')',
                                           'dropdown-item m-0 text-dark')}" />
                                    </th:block>
                                    <th:block th:unless="${a.name == '' || !a.draft}">
                                        <form th:replace="~{forms::single-link-post-form-with-confirm-callback-with-class(
                                           ${@url.deleteFrontendResourceDraft(a.id)},
                                           #{template.cms.remove.draft},
                                           #{template.confirmationPrompt},
                                           'a => app.showMessageAndReload(\'Frontend Resource entry draft is deleted.\')',
                                           'dropdown-item m-0 text-dark')}" />
                                    </th:block>
                                </div>
                            </div>
                            <form th:replace="~{forms::single-icon-post-form-with-confirm-callback-with-disable(
                                   ${@url.publishFrontendResource(a.id)},
                                   'fas fa-arrow-up-from-bracket text-primary ',
                                   #{frontendResource.pushToLive},
                                    #{template.confirmationPrompt},
                                    'a => app.showMessageAndReload(\'Draft content pushed to live.\')',
                                     ${a.name == '' || !a.draft})}" />
                            <th:block th:if="${@auth.hasGlobalPrivilege('canReadSupportData')}">
                                <a class="" th:href="${@url.allAudit('frontendResource:' + a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.audit}">
                                    <i class="fas fa-clock-rotate-left text-primary"></i>
                                </a>
                            </th:block>
                            <a class="" th:href="${@url.yamlFrontendResource(a.id)}" th:download="${@environment.getProperty('components.export.zip.filename')}"
                               data-toggle="tooltip" data-placement="top" th:title="#{template.exportToYaml}">
                                <i class="fas fa-download text-primary"></i>
                            </a>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkEdit"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   data-toggle-second="tooltip" data-placement="top" th:title="#{template.copy}">
                                    <i class="fas fa-copy text-primary"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <th:block th:unless="${a.name == '' || !a.contentExists}">
                                        <th:block th:if="${a.draft}">
                                            <form th:replace="~{forms::single-link-post-form-with-confirm-with-class(
                                               ${@url.frontendResourceCopyLiveToDraft(a.id)},
                                               #{template.cms.copy.live},
                                               #{template.confirmationPrompt},
                                               'dropdown-item m-0 text-dark')}" />
                                        </th:block>
                                        <th:block th:if="${@frontendResource.resourceExists(a)}">
                                            <form th:replace="~{forms::single-link-post-form-with-confirm-with-class(
                                               ${@url.frontendResourceCopyResourceToDraft(a.id)},
                                               #{template.cms.copy.resource},
                                               #{template.confirmationPrompt},
                                               'dropdown-item m-0 text-dark')}" />
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                            <a class="" th:href="${@url.frontendResourceSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="${a.draft} ? #{template.cms.edit.draft} : #{template.cms.edit.live}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   data-toggle-second="tooltip" data-placement="top" th:title="#{template.view}">
                                    <i class="fas fa-eye text-primary"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" th:unless="${a.name == '' || !a.contentExists}" target="_blank"
                                       th:href="${@url.getFrontendResourcePreviewUrl(a, false, false)}" th:text="#{template.view.live}">View Live</a>
                                    <a class="dropdown-item" th:unless="${a.name == '' || !a.draft}" target="_blank"
                                       th:href="${@url.getFrontendResourcePreviewUrl(a, true, false)}" th:text="#{template.view.draft}">View Draft</a>
                                    <a class="dropdown-item" th:if="${@frontendResource.resourceExists(a)}" target="_blank"
                                       th:href="${@url.getFrontendResourcePreviewUrl(a, false, true)}" th:text="#{template.view.resource}">View Resource</a>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('frontendresource', ${organizationRelatedEntityPage})}"></nav>
</div>

<div th:fragment="frontend-element(organizationRelatedEntityPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row ">
        <div class="card-header-buttons">
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.newUIComponent()}" th:text="#{template.new}">New</a>
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.yamlAllUiComponents()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('webEndpoint', ${organizationRelatedEntityPage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:replace="~{tables::asort('id', #{template.id}, 'webEndpoint', ${organizationRelatedEntityPage})}"></th>
                    <th th:replace="~{tables::asort('name', 'Name', 'webEndpoint', ${organizationRelatedEntityPage})}">Name</th>
                    <th th:replace="~{tables::asort('organizationId', 'Organization ID', 'webEndpoint', ${organizationRelatedEntityPage})}">Organization ID</th>
                    <th th:replace="~{tables::asort('accessLevel', 'Access Level', 'webEndpoint', ${organizationRelatedEntityPage})}">Access Level</th>
                    <th th:replace="~{tables::asort('type', 'Type', 'webEndpoint', ${organizationRelatedEntityPage})}">Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${organizationRelatedEntityPage.content}">
                    <td><span th:text="${a.id}"></span></td>
                    <td><span th:text="${a.name}"></span></td>
                    <td><a th:if="${a.organizationId != null}" th:href="${@url.organizationSettings(a.organizationId)}" th:text="${a.organizationId}"></a></td>
                    <td><span th:text="${a.accessLevel}"></span></td>
                    <td><span th:text="${a.type}"></span></td>
                    <td>
                        <div class="table-row-btns">
                            <th:block th:if="${@auth.hasGlobalPrivilege('manageFrontendResource')}">
                                <th:block th:replace="~{forms::single-icon-post-form-with-confirm(${'./' + a.id + '/remove'}, 'fas fa-trash text-danger',
                                    #{template.delete}, 'Are you sure you want to remove frontend element '+ ${a.id} +'?')}"/>
                                <a class="" th:href="${@url.yamlFrontendResource(a.id)}" th:download="${@environment.getProperty('components.export.zip.filename')}"
                                   data-toggle="tooltip" data-placement="top" th:title="#{template.exportToYaml}">
                                    <i class="fas fa-download text-primary"></i>
                                </a>
                                <a class="" th:href="${@url.UIComponentSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                    <i class="fas fa-pen-to-square text-primary"></i>
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('webEndpoint', ${organizationRelatedEntityPage})}"></nav>
</div>

<div th:fragment="event(eventListenerPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row justify-content-between">
        <div class="dropdown no-arrow dropdown-sm">
            <a class="dropdown-toggle" href="#" role="button" id="eventMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="eventMenuLink">
                <a class="dropdown-item" th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" th:href="${@url.newEventListener()}" th:text="#{template.new}">New</a>
                <a class="dropdown-item" th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" th:href="${@url.sendEvent()}" th:text="#{template.sendEvent}">Send Event</a>
                <a class="dropdown-item" th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" th:href="${@url.yamlAllEventResources()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
            </div>
        </div>
        <div class="card-header-buttons">
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.newEventListener()}" th:text="#{template.new}">New</a>
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.sendEvent()}" th:text="#{template.sendEvent}">Send Event</a>
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.yamlAllEventResources()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="tables::search('event', ${eventListenerPage})"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th th:replace="~{tables::asort('id', #{template.id}, 'event', ${eventListenerPage})}">#</th>
                        <th th:replace="~{tables::asort('eventClassName', 'Event Class Name', 'event', ${eventListenerPage})}">name</th>
                        <th th:replace="~{tables::asort('eventName', 'Event Name', 'event', ${eventListenerPage})}">name</th>
                        <th th:replace="~{tables::asort('consumerClassName', 'Consumer Method Signature', 'event', ${eventListenerPage})}">name</th>
                        <th>Consumer Method Parameters</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="overflow-wrap">
                    <tr th:each="a : ${eventListenerPage.content}">
                        <td><span th:text="${a.id}">1</span></td>
                        <td><span th:text="${a.getEventClassName(true)}">Coca-Cola</span></td>
                        <td><span th:text="${a.eventName}">bottle</span></td>
                        <td><span th:text="${@url.getEventListenerSignature(a)}"></span></td>
                        <td><span th:text="${@url.joinStrings(a.staticData1, a.staticData2, a.staticData3, a.staticData4)}">bottle</span></td>
                        <td th:if="${@auth.hasGlobalPrivilege('canManageBackend')}">
                            <div class="table-row-btns">
                                <form th:replace="~{forms::single-icon-post-form-with-confirm(${a.id} + '/remove',
                                    'fas fa-trash text-danger', #{template.delete}, 'Are you sure you want to delete event listener?')}" />
                                <a class="" th:href="${@url.yamlEventListener(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.download}"
                                   th:download="${@environment.getProperty('components.export.zip.filename')}">
                                    <i class="fas fa-download text-primary"></i>
                                </a>
                                <a class="" th:href="${@url.eventListenerSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                    <i class="fas fa-pen-to-square text-primary"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('event', ${eventListenerPage})}"></nav>
</div>

<div th:fragment="scheduler(schedulerPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row">
        <div class="card-header-buttons">
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.newScheduler()}" th:text="#{template.new}">New</a>
            <a th:if="${@auth.hasGlobalPrivilege('canManageBackend')}" class="btn-primary btn btn-sm" th:href="${@url.yamlAllSchedulerResources()}" th:download="${@environment.getProperty('components.export.zip.filename')}" th:text="#{template.exportAllToYaml}">Export All to YAML</a>
        </div>
    </div>

    <div class="card-body pt-0">
        <nav th:replace="~{tables::search('scheduler', ${schedulerPage})}"></nav>
        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
            <tr>
                <th th:replace="~{tables::asort('id', #{template.id}, 'scheduler', ${schedulerPage})}">#</th>
                <th th:replace="~{tables::asort('cronExpression', 'Cron Expression', 'scheduler', ${schedulerPage})}"></th>
                <th th:replace="~{tables::asort('eventData', 'Event Data', 'scheduler', ${schedulerPage})}"></th>
                <th th:replace="~{tables::asort('onMasterOnly', 'Master Only', 'scheduler', ${schedulerPage})}"></th>
                <th th:replace="~{tables::asort('organizationId', 'Organization ID', 'scheduler', ${schedulerPage})}"></th>
                <th></th>
            </tr>
            </thead>
                <tbody>
                <tr th:each="a : ${schedulerPage.content}">
                    <td><span th:text="${a.id}">1</span></td>
                    <td><span th:text="${a.cronExpression}">Coca-Cola</span></td>
                    <td><span th:text="${a.eventData}">bottle</span></td>
                    <td><th:block th:if="${a.onMasterOnly}">YES</th:block></td>
                    <td><a th:if="${a.organizationId}" th:href="${@url.organizationSettings(a.organizationId)}" th:text="${a.organizationId}"></a></td>
                    <td th:if="${@auth.hasGlobalPrivilege('canManageBackend')}">
                        <div class="table-row-btns">
                            <th:block th:replace="~{forms::single-icon-post-form-with-confirm(${a.id + '/remove'}, 'fas fa-trash text-danger',
                             #{template.delete}, 'Are you sure you want to remove scheduler '+ ${a.id} + ' ' + ${a.cronExpression} + ' ' + ${a.eventData} +'?')}"/>
                            <a class="" th:href="${@url.yamlScheduler(a.id)}" th:download="${@environment.getProperty('components.export.zip.filename')}"
                               data-toggle="tooltip" data-placement="top" th:title="#{template.exportToYaml}">
                                <i class="fas fa-download text-primary"></i>
                            </a>
                            <a class="" th:href="${@url.schedulerSettings(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.edit}">
                                <i class="fas fa-pen-to-square text-primary"></i>
                            </a>
<!--                            <a class="" th:href="${@url.schedulerView(a.id)}" data-toggle="tooltip" data-placement="top" th:title="#{template.view}">-->
<!--                                <i class="fas fa-eye text-primary"></i>-->
<!--                            </a>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('scheduler', ${schedulerPage})}"></nav>
</div>

<div th:fragment="searchResult(searchPage, title)" class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" th:text="${title}">Search Result</h6>
    </div>

    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{template.id}">ID</th>
                    <th th:replace="~{tables::asort('name', #{template.name}, 'search', ${searchPage})}">Name</th>
                    <th th:replace="~{tables::asort('description', 'Description', 'search', ${searchPage})}">Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${searchPage.content}">
                    <td th:text="${a.id}">1</td>
                    <td th:text="${a.name}">Coca-Cola</td>
                    <td th:text="${a.description}">There is Coke!</td>
                    <td>
                        <div class="table-row-btns">
                            <a class="" th:href="${a.urlPath}" data-toggle="tooltip" data-placement="top" th:title="#{template.view}">
                                <i class="fas fa-eye text-primary"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:replace="~{tables::tablenav('search', ${searchPage})}"></nav>
</div>
</body>
</html>