<form th:fragment="uicomponent-controller-endpoint-settings-form-new"
      th:replace="~{generic-forms::form-card-body(${uiComponentControllerEndpointForm}, 'uiComponentControllerEndpointForm', '', '', '', #{template.save}, false)}" />
<form th:fragment="uicomponent-controller-endpoint-settings-form-error"
      th:replace="~{generic-forms::form-card-body(${uiComponentControllerEndpointForm}, 'uiComponentControllerEndpointForm', '', '', '', #{template.save}, false)}" />
<form th:fragment="uicomponent-controller-endpoint-settings-form-success"
      th:replace="~{generic-forms::form-card-body(${uiComponentControllerEndpointForm}, 'uiComponentControllerEndpointForm', '', '', '', #{template.save}, false)}" />