<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="icon" type="image/png" th:href="${@environment.getProperty('application.icon')}">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/vendor/sb-admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{~/vendor/openkoda/app.css}">
</head>

<body class="bg-secondary">

<div class="container" th:fragment="login-form">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden shadow-sm my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 m-auto">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Please Sign In</h1>
                                    <div id="errorMessage">
                                        <th:block th:if="${param.error}">
                                            Invalid username or password.
                                        </th:block>
                                        <th:block th:if="${param.logout}">
                                            You have been logged out.
                                        </th:block>
                                    </div>
                                </div>
                                <th:block th:if="${@auth.loginAndPasswordAuthentication}">
                                    <form class="user" role="form" th:action="@{/login}" method="post">
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Login</label>
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputEmail"
                                                   aria-describedby="emailHelp" placeholder="Login" name="username"
                                                   autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword">Password</label>
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword"
                                                   placeholder="Password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="remember"
                                                       name="remember">
                                                <label class="custom-control-label p-0" id="remember-label" for="remember">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" id="login-button" class="btn btn-primary">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </th:block>
                                <div class="text-center mt-3">
                                    <a class="small" th:href="@{/forgot-password}">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}" th:if="${@auth.signUpLink}"
                                       href="register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/vendor/sb-admin/js/sb-admin-2.min.js"></script>

</body>
</html>