<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Notification</title>
</head>
<body>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::hello-text}"/>
    <th:block th:if="${!#strings.isEmpty(userEntity.firstName) && !#strings.isEmpty(userEntity.lastName)}"
              th:text="${' ' + userEntity.firstName + ' ' + userEntity.lastName}"/>!
</div>
<br/>
<div>
    <th:block th:utext="${notificationMessage}">message</th:block>
</div>
<br/>
<div>
    The sites managed by your organisation are now available <a th:href="${passwordRecoveryLink}">after you log in</a>.
</div>
<br/>
<footer>
    <div>
        P.S. This message has been generated automatically. Please contact your administrator for further information.
    </div>
</footer>
</body>
</html>