<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Password reset</title>
</head>
<body>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::hello-text}"/>
    <th:block th:if="${!#strings.isEmpty(userEntity.firstName) && !#strings.isEmpty(userEntity.lastName)}"
              th:text="${' ' + userEntity.firstName + ' ' + userEntity.lastName}"/>!
</div>
<br/>
<div>
    We have been asked to reset the password for your account.
</div>
<br/><div>
    If you did not request this password reset, you can ignore this email. No changes have been made to your account.
</div>
<br/>
<div>
    To reset your password, follow this <a th:href="${passwordRecoveryLink}">reset link</a> within the next 48 hours.
</div>
<br/>
<footer>
    <div>
        P.S. This message has been generated automatically. Please contact your administrator for further information.
    </div>
</footer>
</body>
</html>