<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::hello-text}"/>!
</div>
<br/>
<div th:text="${'It is so great you joined us, welcome to ' + applicationName + '!'}">
</div>
<br/><div>
    You are just one click away, <a th:href="${accountVerificationLink}">please follow this link</a> to verify your e-mail and log in to your dashboard.
</div>
<br/>
<div>
    If you need help to set up recommendations for your site or have any (like ANY) questions during this trial period just reply to this e-mail and let us know, we would like to make this experience as smooth as possible!
</div>
<br/>
<footer>
    <div>
        P.S. This message has been generated automatically. Please contact your administrator for further information.
    </div>
</footer>
</body>
</html>