<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">

<head>
    <title>Timelog Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/vendor/openkoda/app.js(v=${resourcesVersion})}"></script>
    <link rel="stylesheet" th:href="@{/vendor/sb-admin/css/sb-admin-2.min.css(v=${resourcesVersion})}"/>
    <th:block th:if="${param.draft == null}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    </th:block>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/vendor/jquery/jquery.min.js"></script>

</head>

<body>
<style>
	table .dropdown-menu {
	  position: fixed;
	}
  </style>
<div class="container-fluid">
    <h1 layout:fragment="title" />
    <div layout:fragment="content">
        <div class="d-sm-flex align-items-center mb-4">
            <a th:href="${@url.organizationBase(organizationEntityId) + '/cn/timelog'}" class="d-none d-sm-inline-block btn btn-sm btn-primary"><i class="fas fa-clock fa-sm text-white-50"></i> Log Your Time</a>
            <th:block th:if="${@auth.hasGlobalPrivilege('canAccessGlobalSettings')}">
                <a th:href="${@url.organizationBase(organizationEntityId) + '/cn/report'}" class="d-none d-sm-inline-block btn btn-sm btn-primary ml-2"><i class="fas fa-file fa-sm text-white-50"></i> Report</a>
            </th:block>
        </div>
        <th:block th:if="${@auth.hasGlobalPrivilege('canAccessGlobalSettings')}">
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-danger text-uppercase mb-1">Total Hours Logged</div>
                                    <div class="h3 mb-0 font-weight-bold text-gray-800" th:text="${totalLoggedHours}">12</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-success text-uppercase mb-1">Total Holidays</div>
                                    <div class="h3 mb-0 font-weight-bold text-gray-800" th:text="${totalHolidayHours}">123</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-sun fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Total Hours Per User</h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Hours logged</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${usersTimelogsSum}">
                                            <td th:text="${user.key}"></td>
                                            <td th:text="${user.value['user']}"></td>
                                            <td th:text="${user.value['sum']}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">Recent Timelogs</h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Ticket</th>
                                            <th>Description</th>
                                            <th>Duration</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="timelog : ${recentTimelogs}">
                                            <td th:text="${timelog.getAssignment().getUser().getName()}"/>
                                            <td th:text="${timelog.getAssignment().getTicket().getName()}"/>
                                            <td th:text="${timelog.getDescription()}"/>
                                            <td th:text="${#numbers.formatDecimal(timelog.getDuration() / 3600.0,1,2)}"/>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                <script>
			  $( document ).ready(function() {
				  $('.table-responsive').on('show.bs.dropdown', function () {
				   $('.table-responsive').css( "overflow", "inherit" );
			  });

			  $('.table-responsive').on('hide.bs.dropdown', function () {
				   $('.table-responsive').css( "overflow", "auto" );
			  })
			  });

			</script>
            </div>
        </th:block>
    </div>
</div>


<!-- Bootstrap core-->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/vendor/sb-admin/js/sb-admin-2.min.js"></script>


</body>
</html>