<!--DEFAULT CONTENT-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container">
    <h1 layout:fragment="title"/>
    <div layout:fragment="content">
        <form action="./report/csv" method="GET">
            <div class="form-group">
                <select name="month" class="selectpicker type1 form-control d-inline">
                    <option th:each="m : ${months}" th:value="${m[0]}" th:text="${m[1]}" />
                </select>
            </div>
            <div><button type="submit" class="btn btn-primary btn-submit d-inline">GET REPORT</button></div>
        </form>
    </div>
</div>
</body>
</html>
