<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html" lang="en"
      layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">

    <div layout:fragment="content" th:attr="data-menu-item='dashboard'">

        <div th:utext="#{template.dashboard.default.message(${@url.allFrontendResource()})}"></div>
        <div class="row" id="registered-cruds">
            <th:block th:each="entry : ${@htmlCRUDControllerConfigurationMap.getExposed()}">
                <div class="col-lg-2">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h6 class="m-0 font-weight-bold" th:text="${@messages.getFieldLabel(entry.key, entry.key)}"></h6>
                            <div class="m-0 justify-content-end">
                                <a class="mr-1" th:href="${@url.all(organizationEntityId, entry.key)}">All</a>
                                <a th:href="${@url.form(organizationEntityId, entry.key)}">New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>