<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html" lang="en"
      layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">

    <div layout:fragment="content" th:attr="data-menu-item='dashboard'">
        <th:block th:if="${!#lists.isEmpty(@htmlCRUDControllerConfigurationMap.getExposedSorted(organizationEntityId))}">
            <div class="row col gap-10 mb-4" id="registered-cruds">
                <th:block th:each="entry : ${@htmlCRUDControllerConfigurationMap.getExposedSorted()}">
                        <a class="card shadow entity-link large text-secondary" th:href="${@url.all(organizationEntity.id, entry.key)}">
                            <div class="flex-grow-1 flex-shrink-1 flex-none d-flex align-items-center justify-content-center flex-column justify-center">
                                <div class="icon-div"><i class="fas fa-table-list fa-2x"></i></div>
                                <span class="text-center text-lg" th:text="${@messages.getFieldLabel(entry.key, entry.value.getFrontendMappingDefinition().name)}"></span>
                            </div>
                        </a>
                </th:block>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>