<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>System Message</title>
</head>
<body>
<div th:text="${message}">
</div>
<br/>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::goodbye-text}"/>
</div>
<br/>
<footer>
    <div><a th:href="${'mailto:' + mailReplyTo}" target="_blank" th:text="${mailReplyTo}"></a> | <a th:href="${baseUrl}" target="_blank" th:text="${baseUrl}"></a></div>
</footer>
</body>
</html>