<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Password reset</title>
</head>
<body>
<div>
    <th:block th:replace="~{frontend-resource/email-fragments::hello-text}"/>
    <th:block th:if="${!#strings.isEmpty(userEntity.firstName) && !#strings.isEmpty(userEntity.lastName)}"
              th:text="${' ' + userEntity.firstName + ' ' + userEntity.lastName}"/>!
</div>
<br/>
<div>
    We have been asked to reset the password for your account.
</div>
<br/><div>
    If you did not request this password reset, you can ignore this email. No changes have been made to your account.
</div>
<br/>
<div>
    To reset your password, follow this <a th:href="${passwordRecoveryLink}">reset link</a> within the next 48 hours.
</div>
<br/>
<div>
    <th:block th:replace="~{frontend-resource/email-fragments::goodbye-text}"/>,
</div>
<div>
    Michal
</div>
<br/>
<footer>
    <div><a th:href="${'mailto:' + mailReplyTo}" target="_blank" th:text="${mailReplyTo}"></a> | <a th:href="${baseUrl}" target="_blank" th:text="${baseUrl}"></a></div>
    <br/>
    <div>
        P.S. If you have any questions just reply to this email, we are here to help!
    </div>
</footer>
</body>
</html>