<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::hello-text}"/>!
</div>
<br/>
<div th:text="${'It is so great you joined us, welcome to ' + applicationName + '!'}">
</div>
<br/><div>
    You are just one click away, <a th:href="${accountVerificationLink}">please follow this link</a> to verify your e-mail and log in to your dashboard.
</div>
<br/>
<div>
    If you need help to set up recommendations for your site or have any (like ANY) questions during this trial period just reply to this e-mail and let us know, we would like to make this experience as smooth as possible!
</div>
<br/>
<div>
    <th:block th:replace="~{frontend-resource/public/email-fragments::goodbye-text}"/>,
</div>
<div>
    Michal
</div>
<br/>
<footer>
    <div><a th:href="${'mailto:' + mailReplyTo}" target="_blank" th:text="${mailReplyTo}"></a> | <a th:href="${baseUrl}" target="_blank" th:text="${baseUrl}"></a></div>
    <br/>
    <div>
        P.S. If you have any questions just reply to this email, we are here to help!
    </div>
</footer>
</body>
</html>